<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RacingEventsTrackSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <applicationSettings>
    <RacingEventsTrackSystem.Properties.Settings>
      <setting name="RacingEventsTrackSystem_hardcardserver_SyncService" serializeAs="String">
        <value>http://localhost:61554/SyncService.asmx</value>
      </setting>
    </RacingEventsTrackSystem.Properties.Settings>
  </applicationSettings>
<connectionStrings>
<add name="HardcardEntities" connectionString="metadata=res://*/DataAccess.Model.csdl|res://*/DataAccess.Model.ssdl|res://*/DataAccess.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Hardcard;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>