<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="UIControlsTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <UIControlsTesting.Properties.Settings>
            <setting name="portNumber" serializeAs="String">
                <value>3900</value>
            </setting>
            <setting name="sleepTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="userKeyString" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>"C://Hardcard//Logs"</value>
            </setting>
            <setting name="serverIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="useXML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverPortNum" serializeAs="String">
                <value>3901</value>
            </setting>
        </UIControlsTesting.Properties.Settings>
    </userSettings>
</configuration>
